        <br><br>

        <div class="container">
            <footer align="center">
                    <p>Copyright - 2019 - Todos los derechos reservados - Alpha Team</p>
            </footer>
        </div>
    
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

    </body>

</html>