{{>header}}

<div class="container">
    <h1>Confirmacion ingresar un nuevo curso</h1>
</div>

<p>El promedio de {{estudiante}} es {{obtenerPromedio valor}}</p>

<p>valor {{valor}}</p>

{{{listar2}}}

{{>footer}}