{{>headerDocente}}

<!-- JHON -->
<div class="container">
    <h1>Confirmacion ingresar un nuevo curso</h1>
</div>

<p>{{{crearCurso id nombre modalidad valor descripcion intensidad}}}</p>

{{{listar-cursos-disponibles}}}
<!-- FIN -->

{{>footer}}