{{>headerEstudiante}}
<div class="container">
    <h1 align="center">Formulario para inscripción de cursos</h1>
	<h5 align="center">Utilice este formulario para incribirse en un curso</h5>
    <form action="/crearIncripcion" method="POST">
			<div class="container">
			  <div class="row">
				<div class="col-sm">
					<label for="id">Documento de identidad</label>
					<input type="number"  class="form-control" name="documento" required>
				</div>
				<div class="col-sm">
					<label for="correo">Correo electronico</label>
					<input type="email" class="form-control" name="correo" placeholder="name@example.com" required>
				</div>
			  </div>
			</div>
			<div class="container">
			  <div class="row">
				<div class="col-sm">
					<label for="nombre">Nombre</label>
					<input type="text"  class="form-control" name="nombre" required>
				</div>
				<div class="col-sm">
					<label for="telefono">Telefono</label>
					<input type="number"  class="form-control" name="telefono" required>
				</div>
			  </div>
			</div>
			<div class="container">
			  <div class="row">
				<div class="col-sm">
					{{{listarCursos}}}
				</div>
			  </div>
			</div>
			<br/>
			<div class="container">
			  <div class="row">
				<div class="col-sm" align="center">
					<button class="btn btn-primary">Enviar</button>
				</div>
			  </div>
			</div>            
    </form>
</div>
{{>footer}}