{{>headerEstudiante}}
	<div class="container">
		<h1 align="center">Formulario para ver mis cursos</h1>
		<h5 align="center">Utilice este formulario para ver y eliminar mis cursos</h5>
		
		<form action="/eliminarCurso" method="POST">			
			<div class="container">
			 	<input type="hidden"  class="form-control" name="documentoLogin" placeholder="Ingrese su documento de identidad" aria-describedby="idHelp" value="{{{documentoLogin}}}">
			  <div class="row">
				<div class="col-sm">
					{{{listarMisCursos documentoLogin}}}
				</div>
			  </div>
			</div>
		</form>
	</div>
{{>footer}}