{{>headersimple}}

{{!-- SEBASTIÁN --}}
<div class="container" align="center">
    <h1>Resultado registro de usuario</h1>
	
	<p>{{registrarUsuario usuario}}</p>

	<a class="btn btn-primary" href="/registrar-usuario">Volver a registrar</a>
	<a class="btn btn-secondary" href="/">Salir</a>
</div>
{{!-- FIN SEBASTIÁN --}}
{{>footer}}