<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
    
    <!--
        <link href="css/style.css" rel="stylesheet" type="text/css">
    -->

    <title>Educación continua</title>

</head>

<body>
    <div class="container-fluit">
       <div class="jumbotron">
            <div class="row">
                <div class="col-sm-4">
                    <img src="img/logo.png" width="200px" height="200px" class="rounded mx-auto d-block">                    
                </div>     
                
                <div class="col-sm-8">
                    <h1>Segunda Entrega Grupal - Curso Node.JS</h1>                    
                    <br>
                    {{#if sesion}}
                    <h3>Bienvenido {{nombreLogin}} ({{tipoLogin}})</h3>
                    {{else}}
                    <h3>Bienvenido invitado</h3>
                    {{/if}}
                </div>    
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MENÚ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            {{!-- SEBASTIÁN --}}
                {{#if sesion}}
                    {{#if coordinador}}
                        <a class="nav-item nav-link" href="/listado-cursos-docente">GESTIONAR CURSOS</a>
                        <a class="nav-item nav-link" href="/crear-curso">CREAR CURSO</a>
                        <a class="nav-item nav-link" href="/registrar-usuario">REGISTRAR USUARIO</a>
                        <a class="nav-item nav-link" href="/listado-usuarios">LISTADO USUARIOS</a>
                    {{/if}}
                    
                    {{#if docente}}
                        <a class="nav-item nav-link" href="/mis-cursos-docente">MIS CURSOS</a>
                    {{/if}}

                    {{#if aspirante}}
                        <a class="nav-item nav-link" href="/inscripcion">INSCRIBIR</a>            
                        <a class="nav-item nav-link" href="/misCursos">MIS CURSOS</a>
                        <a class="nav-item nav-link" href="/listado-cursos-estudiante">VER CURSOS</a>
                    {{/if}}
                    <a class="nav-item nav-link" href="/">SALIR <span class="sr-only">(current)</span></a>
                {{else}}
                    <a class="nav-item nav-link" href="/listado-cursos-estudiante">VER CURSOS</a>
                    <a class="nav-item nav-link" href="/registrar-usuario">REGISTRAR USUARIO</a>
                    <a class="nav-item nav-link" href="/login">INGRESAR <span class="sr-only">(current)</span></a> 
                {{/if}}
            {{!-- FIN SEBASTIÁN --}}
            </div>
        </div>
    </nav>
    
    <br>