{{>header}}
<!-- JHON -->
<div class="container">
    <h1>Sala de Chat</h1>
    <form id="formulario">
        <input type="text" id="texto">
        <button>Enviar</button>
    </form>
    <div id="chat"></div>
</div>
<!-- FIN JHON-->
{{>footer}}