{{>header}}

<!-- JHON -->
<div class="container">
    <h1>Confirmacion ingresar un nuevo curso</h1>
</div>

<p>{{{crearCurso resultado err}}}</p>
<h4>CURSOS DISPONIBLES</h4>
{{{listar-cursos-disponibles respuesta err}}}
<br><br>
<h4>TODOS LOS CURSOS</h4>
{{{listar-cursos respuesta err}}}
<!-- FIN -->

{{>footer}}