{{>header}}

<!-- JHON -->
<div class="container">
    <h1>Confirmacion ingresar un nuevo curso</h1>
</div>

<p>{{{crearCurso curso texto mostrar}}}</p>

{{{listar-cursos-disponibles respuesta}}}
{{{listar-cursos}}}
<!-- FIN -->

{{>footer}}