{{>header}}

<!-- JHON -->
<div class="container">
    <h1>Confirmacion ingresar un nuevo curso</h1>
</div>

<p>{{{crearCurso resultado err}}}</p>

{{{listar-cursos-disponibles respuesta err}}}
{{{listar-cursos respuesta err}}}
<!-- FIN -->

{{>footer}}