{{>header}}
	<form id="formularioPrivado">
		<div id="chatPrivado">
		
		</div>
		<input type="text" id="usuario" value="{{usuario}}" hidden>
		<input type="text" id="documentoUsuario" value="{{documentoUsuario}}" hidden>
	</form>
	<form action="/inscripcion" method="GET">
		<div class="container">
			
			{{{incripcionCursos mostrar texto}}}
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm" align="center">
					<button class="btn btn-primary">Volver</button>
				</div>
			</div>
		</div>            
    </form>
	<script src="socket.io/socket.io.js"></script>
	<script src="js/socketnotificacion.js"></script>
{{>footer}}