{{>header}}
<div class="container">
	<div id="chatPrivado">
		
	</div>
    <h1 align="center">Formulario para inscripción de cursos</h1>
	<h5 align="center">Utilice este formulario para incribirse en un curso</h5>
    <form action="/crearIncripcion" method="POST">
			<div class="container">
				<div class="row">
				<div class="col-sm">
					{{{listarCursos listado}}}
				</div>
			  </div>
			</div>
			<br/>
			<div class="container">
			  <div class="row">
				<div class="col-sm" align="center">
					<button class="btn btn-primary">Enviar</button>
				</div>
			  </div>
			</div>            
    </form>
</div>
{{>footer}}