{{>headerEstudiante}}
<div class="container">
    <h1 align="center">Formulario para inscripción de cursos</h1>
	<h5 align="center">Utilice este formulario para incribirse en un curso</h5>
    <form action="/crearIncripcion" method="POST">
			<div class="container">
				<input type="hidden" class="form-control" name="documentoLogin" placeholder="Ingrese su documento de identidad" aria-describedby="idHelp" value="{{{documentoLogin}}}">
				<div class="row">
				<div class="col-sm">
					{{{listarCursos}}}
				</div>
			  </div>
			</div>
			<br/>
			<div class="container">
			  <div class="row">
				<div class="col-sm" align="center">
					<button class="btn btn-primary">Enviar</button>
				</div>
			  </div>
			</div>            
    </form>
</div>
{{>footer}}