{{>header}}
	<form action="/inscripcion" method="GET">
		<div class="container">
			<div id="chatPrivado">
				
			</div>
			{{{incripcionCursos mostrar texto}}}
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm" align="center">
					<button class="btn btn-primary">Volver</button>
				</div>
			</div>
		</div>            
    </form>
{{>footer}}