{{>header}}
<!-- SEBASTIÁN -->
<div class="container">
    <div id="chatPrivado">
        
    </div>
    <h4>CURSOS DISPONIBLES</h4>
    {{{listar-cursos-disponibles respuesta err}}}
</div>
<!-- FIN SEBASTIÁN-->
{{>footer}}