{{>header}}
<!-- SEBASTIÁN -->
<div class="container">
    <h4>CURSOS DISPONIBLES</h4>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/socket.js"></script>
    {{{listar-cursos-disponibles respuesta err}}}
</div>
<!-- FIN SEBASTIÁN-->
{{>footer}}