{{>header}}
<!-- JHON -->
<div class="container">
    <h4>CURSOS DISPONIBLES</h4>
    {{{listar-cursos-disponibles respuestaDisponibles err}}}
    <br><br>
    <h4>TODOS LOS CURSOS</h4>
    {{{listar-cursos respuestaTodos err}}}
</div>
<!-- FIN -->
{{>footer}}