{{>header}}
<!-- JHON -->
<h4>CURSOS DISPONIBLES</h4>
{{{listar-cursos-docente-disponibles listaCursos listaEstudiantes listadoCursosEstudiantes}}}
<br><br>
<h4>CURSOS CERRADOS</h4>
{{{listar-cursos-docente-cerrados listaCursos listaEstudiantes listadoCursosEstudiantes}}}
<br><br>
<h4>TODOS LOS CURSOS</h4>
{{{listar-cursos respuesta err}}}
<!-- FIN -->
{{>footer}}