{{>header}}

<!-- JHON -->
<div class="container">
    <h1>Confirmacion cerrar curso</h1>
</div>

<p>{{{cerrarCurso id}}}</p>

<h4>CURSOS DISPONIBLES</h4>
{{{listar-cursos-docente-disponibles}}}
<br><br>
<h4>CURSOS CERRADOS</h4>
{{{listar-cursos-docente-cerrados}}}
<br><br>
<h4>TODOS LOS CURSOS</h4>
{{{listar-cursos}}}

<!-- FIN -->

{{>footer}}