{{>headerEstudiante}}
<!-- SEBASTIÁN -->
<div class="container">
    <input type="hidden"  class="form-control" name="documentoLogin" placeholder="Ingrese su documento de identidad" aria-describedby="idHelp" value="{{{documentoLogin}}}">
    <h4>CURSOS DISPONIBLES</h4>
    {{{listar-cursos-disponibles}}}
</div>
<!-- FIN SEBASTIÁN-->
{{>footer}}