{{>header}}
	<div class="container">
		<h1 align="center">Mis cursos como docente</h1>
        <div class="dropdown-divider"></div>			
		<div class="row">
			<div class="col">
				{{{listarMisCursosDocente listaCursos listaEstudiantes listaCursosEstudiantes}}}
			</div>
		</div>
	</div>
{{>footer}}